@*<form id="formCadastro" method="post">*@
@using (Html.BeginForm("Incluir", "Cliente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var cnpj_id = 0;
        $(document).ready(function () {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#Logradouro").val("");
                $("#txtBairro").val("");
                $("#txtCid").val("");
                $("#txtEstado").val("");
                $("#NumberStreat").val("");
            }

            //Quando o campo cep perde o foco.
            $("#CEP").blur(function () {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#Logradouro").val("");
                        $("#txtBairro").val("");
                        $("#txtCid").val("");
                        $("#txtEstado").val("");

                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#Logradouro").val(dados.logradouro);
                                $("#txtBairro").val(dados.bairro);
                                $("#txtCid").val(dados.localidade);
                                $("#txtEstado").val(dados.uf);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                //alert("CEP não encontrado.");
                                swal("Atenção!", "O CEP informado não retornou dados!", "warning");

                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        //alert("Formato de CEP inválido.");
                        swal("Erro!", "Formato de CEP inválido.", "error");

                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
        //var options = {
        //    onKeyPress: function (cpf, ev, el, op) {
        //        var masks = ['000.000.000-000', '00.000.000/0000-00'];
        //        $('.cpfOuCnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
        //        var cnpj = $('.cpfOuCnpj').val().replace(/[^0-9]/g, '');
        //        if (cnpj.length == 14) {
        //            cnpj_id = cnpj;
        //            load_cnpj();
        //        }
        //    }
        //}
        //$('.cpfOuCnpj').length > 11 ? $('.cpfOuCnpj').mask('00.000.000/0000-00', options) : $('.cpfOuCnpj').mask('000.000.000-00#', options);

        $(document).ready(function () {
            $("#cep").mask("99.999-999");
        });
                //function load_cnpj() {
                //    $.ajax({
                //        url: 'https://www.receitaws.com.br/v1/cnpj/' + cnpj_id,
                //        method: 'GET',
                //        dataType: 'jsonp', // Em requisições AJAX para outro domínio é necessário usar o formato "jsonp" que é o único aceito pelos navegadores por questão de segurança
                //        complete: function (xhr) {

                //            // Aqui recuperamos o json retornado
                //            response = xhr.responseJSON;

                //            // Na documentação desta API tem esse campo status que retorna "OK" caso a consulta tenha sido efetuada com sucesso
                //            if (response.status == 'OK') {

                //                // Agora preenchemos os campos com os valores retornados
                //                $('#Empresa_RazaoSocial').val(response.nome);
                //                $('#Empresa_Complemento').val(response.complemento);
                //                $('#Logradouro').val(response.logradouro);
                //                $('#Empresa_Telefone').val(response.telefone);
                //                $('#Empresa_Email').val(response.email);
                //                $('#Empresa_Numero').val(response.numero);
                //                $('#txtEstado').val(response.uf);
                //                $('#Empresa_Cep').val(response.cep.replace(/\.|\-/g, ''));
                //                $('#txtBairro').val(response.bairro);
                //                $('#txtCid').val(response.municipio);


                //                // Aqui exibimos uma mensagem caso tenha ocorrido algum erro
                //            } else {
                //                swal("Erro!", "CNPJ inválido ou rejeitado pela Receita Federal.", "error");
                //            }
                //        }
                //    });
                //}
    </script>
}

